.modale {
  user-select: none;
  z-index: 99;
  margin-left: -100%;
  transform: translate(0, -100%);
  opacity: 0;
  width: 500px;
  margin: auto;
  margin-top: 150px;
  transition: 300ms all;
  color: white;
  .head {
    text-shadow: 1px 1px rgba(66, 66, 66, 0.61);
    display: flex;
    align-items: center;
    background: rgb(228, 206, 206);
    h1 {
      font-size: 20pt;
      margin-left: 10px;
      font-weight: normal;
    }
    .closed {
      width: 30px;
      height: 30px;
      background-color: rgb(90, 2, 2);
      color: white;
      border-radius: 15px;
      padding: 5px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
      margin-left: auto;
      margin-right: 10px;
      box-shadow: 0px 0px 3px 1px #fff;
    &:hover{
      background-color: rgb(133, 1, 1);
    }
    }
  }
  .body {
    color:black;
    text-shadow: 1px 1px rgba(185, 185, 185, 0.61);
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    background: rgba(112, 112, 112, 0.1);
  }
  &.active {
    opacity: 1;
    margin-left: auto;
    transform: translate(0, 0);
  }
}
